
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.price-discount{
  color:#e33;
}
.item-view-cart{
  display: flex;
  flex-flow: column;
}
.btn {
  width: 120px;
}
.item-btn{
  margin:30px 0 0 0;
}